@(form: Form[GatewayConfiguration])(implicit flash: Flash, lang: Lang)

@import views.helper.bootstrap2._

@hidden(field: Field) = {
  <input type="hidden" name="@field.name" id="@field.id" value="@field.value">
}

@main(title = "Configuration") {

<h1>Attached Devices</h1>

@helper.form(action = routes.Configuration.update, 'class -> "form-horizontal") {

  @helper.repeatWithIndex(form("gateways"), min=0) { case (gateway, gatewayIndex) =>

    <div class="well well-large">

      <h3>Gateway: @gateway("host").value:@gateway("port").value</h3>

      @helper.inputText(gateway("host"),
                        '_label -> "Host:",
                        '_help -> "The IP address of this gateway.")
      @helper.inputText(gateway("port"),
                        '_label -> "Port:",
                        '_help -> "The port number the gateway is listening on.")
      @helper.inputText(gateway("label"),
                        '_label -> "Label:",
                        '_help -> "A human-readable label (optional)")

      <h3>Attached Devices</h3>
        
      @helper.repeatWithIndex(gateway("devices"), min=gateway("devices").indexes.max+1) { case (device, deviceIndex) =>
      <div class="row-fluid">
        @defining(gatewayIndex + "-" + deviceIndex) { deviceIdentifier =>
        <div class="span12">
          <h4>Unit: @device("unit").value</h4>

          <ul class="nav nav-tabs" id="@deviceIdentifier-tabs">
            <li class="active"><a data-toggle="tab" href="#@deviceIdentifier-basic-tab">Basics</a></li>
            <li>               <a data-toggle="tab" href="#@deviceIdentifier-range-tab">Gauge Ranges</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="@deviceIdentifier-basic-tab">
              @helper.inputText(device("unit"),
                                'class  -> "input-small",
                                '_label -> "Unit Number:",
                                '_help  -> "This device's address on the RS-485 network.")
              @helper.select(device("type"), List(("diris.a40", "Diris A40")),
                                '_label -> "Type",
                                '_help  -> "This device's make/model.")
              @helper.inputText(device("label"),
                                '_label -> "Label",
                                '_help  -> "A human-readable label (optional)")
            </div>

            <div class="tab-pane" id="@deviceIdentifier-range-tab">
              @helper.repeatWithIndex(device("tables"), min=0) { case (table, tableIndex) =>

                @hidden(table("id"))
                @hidden(table("label"))
                @if(table("id").value.get == "1") {
                  @helper.repeat(table("registers"), min=0) { register =>

                    @if(register("address").value.get.toInt < 0xC582) {
                      <div class="control-group">
                        <label class="control-label">@register("label").value.get:</label>
                        <div class="controls">
                          <div class="input-append input-prepend">
                            @helper.inputText(register("min"), 'class -> "input-small")(views.helper.simpleTableFieldConstructor, lang)
                            <span class="add-on">to</span>
                            @helper.inputText(register("max"), 'class -> "input-small")(views.helper.simpleTableFieldConstructor, lang)
                            <span class="add-on">@register("unitOfMeasurement").value.get</span>
                          </div>
                        </div>
                      </div>
                    } else {
                      @hidden(register("min"))
                      @hidden(register("max"))
                    }

                    @hidden(register("address"))
                    @hidden(register("label"))
                    @hidden(register("unitOfMeasurement"))
                  }
                } else {
                  @helper.repeat(table("registers"), min=0) { register =>
                    @hidden(register("address"))
                    @hidden(register("label"))
                    @hidden(register("min"))
                    @hidden(register("max"))
                    @hidden(register("unitOfMeasurement"))
                  }
                }
              }
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  }


  <button class="pull-right btn btn-primary btn-large" type="submit" name="submit-form" value="create">Save</button>
}

}
