@(form: Form[TableSelectionFormData])(implicit flash: Flash)

@import views.helper.bootstrap2._

@hidden(field: Field) = {
  <input type="hidden" name="@field.name" id="@field.id" value="@field.value">
}

@main(title = "Recorded Runs") {

<h1>Recorded Runs</h1>

<p>Here we will list a bunch of previously recorded runs.  For now
there's nothing to see.</p>

@helper.form(action = routes.RecordedRuns.create, 'class -> "form-horizontal") {

  @helper.repeat(form("selections"), min=0) { tableSelection =>

    <div class="well well-large">

      <h3>Unit @tableSelection("device.unit").value on @tableSelection("device.gateway.host").value:@tableSelection("device.gateway.port").value</h3>

      @hidden(tableSelection("device.gateway.host"))
      @hidden(tableSelection("device.gateway.port"))
      @hidden(tableSelection("device.unit"))

      @helper.checkbox(tableSelection("table1"), '_labelClass -> "checkbox", '_labelInside -> true)
      @helper.checkbox(tableSelection("table2"), '_labelClass -> "checkbox", '_labelInside -> true)
      @helper.checkbox(tableSelection("table3"), '_labelClass -> "checkbox", '_labelInside -> true)
      @helper.checkbox(tableSelection("table4"), '_labelClass -> "checkbox", '_labelInside -> true)
      @helper.checkbox(tableSelection("table5"), '_labelClass -> "checkbox", '_labelInside -> true)
      @helper.checkbox(tableSelection("table6"), '_labelClass -> "checkbox", '_labelInside -> true)

    </div>
  }


  <button type="submit" name="submit-form" value="create">Create</button>
}

}
