@(form: Form[domain.RecordedRunConfiguration], recordings: List[domain.Recording])(implicit flash: Flash)

@import views.helper.bootstrap2._
@import views.helper.transform._

@hidden(field: Field) = {
  <input type="hidden" name="@field.name" id="@field.id" value="@field.value">
}

@checkbox(field: Field, args: (Symbol, Any)*) = {
  <label class="checkbox inline">
    <input type="checkbox" id="@field.id" name="@field.name" value="true" @(if(field.value == Some("true")) "checked" else "")>
    @args.toMap.getOrElse('_label, field.id)
  </label>
}

@main(title = "Recorded Runs") {

<h1>Recorded Runs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th class="hidden-phone">Start Time</th>
      <th class="hidden-phone">End Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    @if(recordings.isEmpty) {
    <tr>
      <td colspan=5>
        <p class="text-center">There are no recordings.  Try starting a new recording below.</p>
      </td>
    </tr>
    } else {
      @defining(Map("running" -> "success",
                    "aborted" -> "error")) { classMap =>

        @for(r <- recordings) {
          <tr class="@classMap.getOrElse(r.status,"")">
            <td><a href="#"><i class="icon-list-alt"></i> @r.id</a></td>
            <td>@r.status</td>
            <td class="hidden-phone">@r.startTime.prettify</td>
            <td class="hidden-phone">@r.endTime.map(_.prettify)</td>
            <td>

              @if(r.status == "running") {
                @helper.form(action = routes.RecordedRuns.stop(r.id)) {
                  <button class="btn btn-danger btn-mini"
                          type="submit"
                          name="submit-form"
                          value="stop">
                          <i class="icon-stop icon-white"></i> <span class="hidden-phone">Stop Recording</span>
                  </button>
                }  
              }

            </td>
          </tr>
        }
      }
    }

  </tbody>
</table>

<h1>Create a new Recording</h1>

@helper.form(action = routes.RecordedRuns.create, 'class -> "form-horizontal") {

  @helper.repeat(form("selections"), min=0) { gateway =>

    <div class="well well-large">

      <h3>Gateway: @gateway("host").value:@gateway("port").value</h3>

      @hidden(gateway("host"))
      @hidden(gateway("port"))

      <ul class="thumbnails">
        
        @helper.repeat(gateway("devices"), min=0) { device =>
        <li class="span4">
          <div class="thumbnail">
            <h4>Unit @device("unit").value</h4>
            @hidden(device("unit"))
            <div class="control-group">
              <label class="control-label">Tables to record:</label>
              <div class="controls">
                @checkbox(device("table1"), '_label -> "Table 1")
                @checkbox(device("table2"), '_label -> "Table 2")
                @checkbox(device("table3"), '_label -> "Table 3")
                @checkbox(device("table4"), '_label -> "Table 4")
                @checkbox(device("table5"), '_label -> "Table 5")
                @checkbox(device("table6"), '_label -> "Table 6")
              </div>
            </div>
          </div>
        </li>
        }

      </ul>



    </div>
  }

  <button class="pull-right btn btn-success btn-large" type="submit" name="submit-form" value="create"><i class="icon-time icon-white"></i> Start Recording </button>
}

}
