@(form: Form[TableSelectionFormData])(implicit flash: Flash)

@hidden(field: Field) = {
  <input type="hidden" name="@field.name" id="@field.id" value="@field.value">
}

@main(title = "Recorded Runs") {

<h1>Recorded Runs</h1>

<p>Here we will list a bunch of previously recorded runs.  For now
there's nothing to see.</p>

@helper.form(action = routes.RecordedRuns.create) {

  @helper.repeat(form("selections"), min=0) { tableSelection =>

    @hidden(tableSelection("device.gateway.host"))
    @hidden(tableSelection("device.gateway.port"))
    @hidden(tableSelection("device.unit"))

    @helper.checkbox(tableSelection("table1"))
    @helper.checkbox(tableSelection("table2"))
    @helper.checkbox(tableSelection("table3"))
    @helper.checkbox(tableSelection("table4"))
    @helper.checkbox(tableSelection("table5"))
    @helper.checkbox(tableSelection("table6"))
  }


  <button type="submit" name="submit-form" value="create">Create</button>
}

}
